<% content_for :title do %>Privacy Policy<% end %>

<div class="row">
    <div class="col-lg-12 page-header">
        <h3 style="display:inline-block;margin-top: 0;">Privacy Policy</h3>
    </div>
</div>
<p>
This web application was created with
<%= link_to('Ruby on Rails 5', 'http://rubyinstaller.org/') %>.
</p>
